/* The Universal Selector has been used here to cancel the browser default margins and */
/* padding for every page element.  This ensures that only assigned */
/* margin and padding values are implemented when viewing pages. */
body {
    margin: 0px;
    padding: 0px;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/* Background Colours */
body, header {background-color: rgb(213,129,29)}
nav, footer {background-color: rgb(193,63,48)}
main {background-color: rgb(206, 159, 138)}


/* Text Properties */
h1, h2 {display: inline; color: rgb(103,63,48); float: left;}
main, a {color: rgb(206,159,138);}
* {font-family: 'Poppins', sans-serif}


/* Image Propeties */
.imageBanner {float: right;}
#studentImage {float: left;}
.iImage {
    width:160px;
    height: 120px;
}
.rImage {
    width: 200px;
    height: 150px;
}


/* Margins */



/* Padding */
.ingredientImages {
    margin-left: 4rem;
}


/* Positioning (Float, Display and Clear) */
header, nav, main, footer {clear: both}
.ingredientImages {
    display: inline;
    float: left;
}
.ingredients {
    display: inline;
    float: right;
}



/* Element Sizes */



/* Navigation List Properties */
.navlink {
    text-decoration: none;
    color: black;
    display: inline;
}
.navactive {
    background-color: rgb(221, 136, 126);
}
