/* The Universal Selector has been used here to cancel the browser default margins and */
/* padding for every page element.  This ensures that only assigned */
/* margin and padding values are implemented when viewing pages. */
body {
    margin: 0px;
    padding: 0px;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/* Background Colours */
body, header {background-color: rgb(213,129,29)}
nav, footer {background-color: rgb(193,63,48)}
main {background-color: rgb(206, 159, 138)}


/* Text Properties */
h1, h2 {display: inline; color: rgb(103,63,48); float: left;}
main, a {color: rgb(206,159,138);}
main p {color: black;}
.ingredients {color: black;}
* {font-family: 'Poppins', sans-serif}


/* Image Propeties */
.imageBanner {float: right;height:90px;width:520px;}
#studentImage {float:left;height:120px;width:160px;}
.iImage {
    width:160px;
    height: 120px;
}
.rImage {
    width: 200px;
    height: 150px;
}


/* Margins */
body {margin:auto;}
h1 {margin-left:30px;margin-top:50px;}
main {margin-top:10px;margin-bottom:10px;}
h2, form {margin:10px;}
#studentImage {margin-right:20px;margin-bottom:20px;}


/* Padding */
.ingredientImages {
    margin-left: 4rem;
}
main p {padding:10px;}
footer {padding-left:10px;padding-top:20px;}


/* Positioning (Float, Display and Clear) */
header, nav, main, footer {clear: both}
.ingredientImages {
    display: inline;
    float: left;
}
.ingredients {
    display: inline;
    float: right;
}



/* Element Sizes */
body {width:900px;}
header {height:90px;}
footer {height:90px;}
nav {height:34px;}



/* Navigation List Properties */
.navlink {
    text-decoration: none;
    color: black;
    display: inline;
}
.navactive:hover {
    background-color: ;
}
.navactive {
    background-color: rgb(221, 136, 126);
}
